/* font key
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */
h1 {
	color: black;
	font-family: "play-fair Display", serif;
	font-weight: bold;
}
p {
	font-family: "Poppins", serif;
	font-weight: normal;
}
